#message {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }

  #send-button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f0f0f0;
    cursor: pointer;
  }

  #send-button:hover {
    background-color: #e0e0e0;
  }

  #message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .message {
    font-size: 1em;
    color: #333;
    list-style-type: none;
    padding: 2px 10px;
  }

@media (max-width: 800px) {
    #rules-section {
        display: none;
    }
}
